<p class="h4 bg-info pl-5">コメント一覧</p>
<div class="container mt-2">
  <div class="col-10 mx-auto">
    <table class="table">
      <tr class="bg-light">
        <td class="col-2">
          <%=image_tag @review.user.get_image(100,100) %>
        </td>
        <td class="col-8">
          <div class="row">
            <p class="bg-secondary text-white">投稿者</p>　<%=@review.user.name %> さん
          </div>
          <div class="row">
            <p class="bg-secondary text-white">評価</p>　<%=@review.score %>/5点
          </div>
          <p class="font-weight-bold"><%=@review.title %></p>
          <p><%=@review.review %></p>
          <%=link_to "レビューに戻る",admin_rakuten_game_path(@rakuten_game.id) %>
        </td>
      </tr>
    </table>

    <div class="mt-5">
      <table class="table">
        <tbody>
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <tr>
                <td class="col-2">
                  <%=image_tag comment.user.get_image(100,100) %>
                </td>
                <td class="col-8">
                  <div class="row">
                    <p class="bg-secondary text-white">投稿者</p>
                    <p><%=comment.user.name %> さん</p>

                  </div>

                  <p><%=comment.comment %></p>
                </td>
                <td class="col-2">
                  <%=link_to "消去する",admin_rakuten_game_review_comment_path(@rakuten_game,comment.review_id,comment.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" %>
                </td>
              </tr>
            <%end%>

          <%else%>
            <div class="h5 text-center mt-5">
              まだコメントが投稿されていません
            </div>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>