<p class="h4 bg-info pl-5">ゲーム詳細</p>
<div class="container mt-2">
  <div class="col-md-10 mx-auto">
    <div class="border bg-light py-5">
      <div class="row">
        <div class="col-md-4 mx-auto mt-3">
          <%=link_to (image_tag(@rakuten_game.largeimage_url)), @rakuten_game.item_url %>
        </div>
        <div class="col-md-7">
          <p class="font-weight-bold h3"><%=@rakuten_game.title %></p>
          <div class="row mt-5">
            <p class=" col-2 h5">機種</p>
            <div class="col-5 font-weight-bold h5"><%=@rakuten_game.hardware %></div>
          </div>
          <div class="row mt-3">
            <p class="h5 col-3">平均点</p>
            <div class="col-3 h5">
              <%=@rakuten_game.reviews.average(:score) %>/5点
            </div>
          </div>
          <div class="row mt-3">
            <p class="h5 col-3">レビュー数</p>
            <div class="col-3 h5">
              <%=@rakuten_game.reviews.count %>件
            </div>
          </div>
          <div class="mt-3">
            <%=link_to "このゲームのレビューを書く",rakuten_game_path(@rakuten_game.id),class: "h5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 mx-auto">

    <% if @user_review.present? %>
      <p class="h4 bg-success text-white col-3 text-center mt-3">自分のレビュー</p>
      <table class="table">
        <tbody>
          <% @user_review.each do |review| %>
            <tr class="bg-light">
              <td class="col-2">
                <%=image_tag review.user.get_image(100,100) %>
              </td>
              <td class="col-8">
                <div class="row">
                  <p class="bg-secondary text-white">投稿者</p>　<%=review.user.name %> さん
                </div>
                <div class="row">
                  <p class="bg-secondary text-white">評価</p>　<%=review.score %>/5点
                </div>
                <p class="font-weight-bold">
                  <%=link_to rakuten_game_review_path(@rakuten_game,review.id) do %>
                    <%=review.title %>
                  <%end%>
                </p>
                <p><%=review.review %></p>
                <%=link_to rakuten_game_review_path(@rakuten_game,review.id) do %>
                  <%=review.comments.count %>件のコメント
                <%end%>

              </td>


              <td class="col-2">
                <%=link_to "編集する",edit_rakuten_game_review_path(@rakuten_game,review.id),class: "btn btn-success btn-sm" %>
                <%=link_to "削除する",rakuten_game_review_path(@rakuten_game,review), method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger btn-sm mt-2" %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%end %>

    <p class="h4 bg-success text-white col-3 text-center mt-3">レビュー一覧</p>
    <table class="table">
      <tbody>
        <% if @review.present? %>
          <% @review.each do |review| %>
            <tr>
              <td class="col-2">
                <%=image_tag review.user.get_image(100,100) %>
              </td>
              <td>
                <div class="row">
                  <p class="bg-secondary text-white">投稿者</p>　<%=review.user.name %> さん
                </div>
                <div class="row">
                  <p class="bg-secondary text-white">評価</p>　<%=review.score %>/5点
                </div>
                <p class="font-weight-bold">
                  <%=link_to rakuten_game_review_path(@rakuten_game,review.id) do %>
                    <%=review.title %>
                  <%end%>
                </p>
                <p><%=review.review %></p>
                <%=link_to rakuten_game_review_path(@rakuten_game,review.id) do %>
                  <%=review.comments.count %>件のコメント
                <%end%>

              </td>
            </tr>

          <%end%>
        <%else%>
          <div class="h5 text-center mt-5">
            まだレビューが投稿されていません
          </div>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-2 mt-2 mb-2 mx-auto">
      <%= paginate @review,window: 1,outer_window: 1 %>
    </div>
  </div>
</div>